<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yen.imdb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".IMDBApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.mvvm.mainpage.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.mvvm.detailpage.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>